<template>
    <div class="c-block-stats">
        <div class="left___block">
            <div>
                Total Weight: <span>{{leftWeight || 0}}kg</span>
            </div>
            <div>
                Momentum (falling object): <span>{{leftBlockMomentum || 0}}kg m/s</span>
            </div>
        </div>
        <div class="right___block">
            <div>
                Total Weight: <span>{{rightWeight || 0}}kg</span>
            </div>
            <div>
                Momentum (falling object): <span>-</span>
            </div>
        </div>
    </div>
</template>

<script>

// modules
import { mapState } from 'vuex'

// util
import { getBlockWeight, getBlockMomentum } from "../utils/utilService"

export default {
    name: "c-game-field",
    computed: {
        ...mapState({
            leftBlockMomentum: state => {
                const currentFallingBlock = state.fallingBlocks.length ? state.fallingBlocks[0] : null;
                return getBlockMomentum(currentFallingBlock);
            },
            leftWeight: state => getBlockWeight(state.leftSideBlocks),
            rightWeight: state => getBlockWeight(state.rightSideBlocks)
        })
    }
}
</script>

<style lang="scss" scoped>
.c-block-stats {
    margin: 20px 25%;
    font-size: 18px;
    .left___block {
        display: inline-block
    }
    .right___block {
        float: right;
    }
}
</style>