<template>
    <main class="c-game-field">
        <c-block-stats></c-block-stats>
        <c-drop-shape></c-drop-shape>
        <c-seesaw></c-seesaw>
    </main>
</template>

<script>

// components
import DropShape from './DropShape'
import Seesaw from './Seesaw'
import BlockStats from './BlockStats'

export default {
    name: "c-game-field",
    components:{
        cBlockStats: BlockStats,
        cDropShape: DropShape, 
        cSeesaw: Seesaw
    }
}
</script>

<style lang="scss" scoped>
.c-game-field {
    width: 80%;
    height: 100%;
    margin: 20px auto;
    padding-top: 1rem;
    border-radius: 10px;
    padding: 20px;
}
</style>