<template>
    <header class="header" @click="togglePause">
        <div class="header__container">
            <div class="header__pauseButton">
                <font-awesome-icon :icon="pauseButton"></font-awesome-icon>
            </div>
            <p class="header__pauseButtonLabel">{{pauseButtonLabel}}</p>
        </div>
    </header>
</template>

<script>

// modules
import { faPlay, faPause } from '@fortawesome/free-solid-svg-icons'
import { mapMutations, mapState } from 'vuex'

// actions & constants
import { ON_TOGGLE_PAUSE } from '../constants/appConstantService'

export default {
    name: 'c-game-action-bar',
    computed: {
        ...mapState({
            isPaused: state => state.isPaused
        }),
        pauseButton() {
            const self = this;
            return self.isPaused ? faPlay : faPause
        },
        pauseButtonLabel() {
            const self = this;
            return self.isPaused ? "Tap to Play" : "Tap to Pause"
        }
    },
    methods: {
        ...mapMutations({
            togglePause: ON_TOGGLE_PAUSE
        }),
    }
}
</script>

<style scoped lang="scss">
$primary-color: orange;
$secondary-color: black;
.header {
    background-color: $primary-color;
    color: $secondary-color;
    width: 10%;
    margin: 25px auto;
    border-radius: 15px;
    cursor: pointer;
}
.header__container {
    width: 80%;
    margin: 0 auto;
}
.header__pauseButton {
    margin: 10px auto;
    width: 20%;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
}
.header__pauseButtonLabel {
    text-align: center
}
</style>