<template>
    <div class="c-pivot"></div>
</template>

<script>
export default {
    name: "c-pivot"
}
</script>

<style lang="scss" scoped>
.c-pivot {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 75px 150px 75px;
    border-color: transparent transparent #191e20 transparent;
}
</style>