<template>
    <section class="c-seesaw">
        <c-swing-bar></c-swing-bar>
        <c-pivot></c-pivot>
    </section>
</template>

<script>

// components
import SwingBar from './SwingBar'
import Pivot from './Pivot'

export default {
    name: "c-seesaw",
    components: {
        cSwingBar: SwingBar, 
        cPivot: Pivot,
    }
}
</script>

<style scoped>
.c-seesaw {
    height: 35%;
    width: 100%;
}
</style>