<template>
    <div class="c-app">
        <c-game-action-bar></c-game-action-bar>
        <c-game-field></c-game-field>
    </div>
</template>

<script>

// components
import GameActionBar from './components/GameActionBar';
import GameField from './components/GameField';

export default {
    name: 'app',
    components: {
        cGameActionBar: GameActionBar,
        cGameField: GameField
    },
    data() {
        return {}
    },
    created() {
        console.log("Insider App Created");
    }
}
</script>

<style lang="scss">
.c-app {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
</style>